@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
  font-family: "Raleway", sans-serif;
	padding: 0;
	margin: 0;
}

body {
	background-color: #69B99D;
}

.contentWrapper {
	background-color: white;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
}

.logo {
	color: #89C5CC;
	font-weight: bold;
	font-size: 1.2rem;
}

.navigation {
	list-style-type: none;
	display: flex;
	font-weight: bold;
	color: grey;

}

span {
	font-weight: bold;
}

.titleSpanText {
	color:#89C5CC;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.startBtn {
	color: white;
	background-color: #89C5CC;
	border: none;
}

footer { 
	display: flex;
	align-items: center;
	justify-content: center;
}
